<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="msapplication-tap-highlight" content="no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/app.css' />
  </head>
  <body>
    <p>
      There are no terms or conditions for this app.
      It was made only for traning purpose so enjoy ;)
    </p>
  </body>
</html>
